<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/estilos.css">
    <title>Ney</title>
</head>
<body>
    
    <div class="container">

        <div class="infos">
            <b>Nome: </b> {{nome}} 
            <br>
            <b>Idade: </b> {{idade}}    
        </div>
        <button id="mudaHumor">Mudar de humor</button>

        <div class="box"> 
            <img src="../static/img/neyTriste.jpeg" alt="Neymar triste">
            <p>Ney tá chorando</p>    
        </div>
    
    </div>
    <script src="../static/index.js"></script>
</body>
</html>