<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/estilos.css">
    <title>Ney</title>
</head>
<body>
    
    <div class="box">

        <div class="infos">
            <b>Nome: </b> {{nome}} 
            <br>
            <b>Idade: </b> {{idade}}            
        </div>

        {% if emocao %}
        
        <img src="../static/img/neySorrindo.jpeg" alt="Neymar sorridente">
        <p>{{nome}} tá sorrindo</p>

        {% else %}

        <img src="../static/img/neyTriste.jpeg" alt="Neymar triste">
        <p>Ney tá chorando</p>


        {% endif %}
    </div>
</body>
</html>